<div id="<%= dom_id collection %>">
  <p>
    <strong>Name:</strong>
    <%= collection.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= collection.description %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= collection.topic %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= collection.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= collection.user_id %>
  </p>

</div>
