<h1>New Collection</h1>

<%= form_with(model: @collection, local: true) do |form| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>
      <ul>
        <% @collection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category, ['Books', 'Signs', 'Silverware', 'Other'] %>
  </div>

  <div>
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :custom_string1_state %>
    <%= form.check_box :custom_string1_state %>
    <%= form.text_field :custom_string1_name, placeholder: 'Custom String Field 1 Name' %>
  </div>

  <div>
    <%= form.label :custom_string2_state %>
    <%= form.check_box :custom_string2_state %>
    <%= form.text_field :custom_string2_name, placeholder: 'Custom String Field 2 Name' %>
  </div>

  <div>
    <%= form.label :custom_string3_state %>
    <%= form.check_box :custom_string3_state %>
    <%= form.text_field :custom_string3_name, placeholder: 'Custom String Field 3 Name' %>
  </div>

  <div>
    <%= form.submit 'Create Collection' %>
  </div>
<% end %>

<%= link_to 'Back', collections_path %>
