<p style="color: green"><%= notice %></p>

<%= render @collection %>

<div>
  <% if current_user %> 
    <%= link_to "Edit this collection", edit_collection_path(@collection) %>
    <%= button_to "Destroy this collection", @collection, method: :delete %>
  <% end %>
  
  <%= link_to "Back to collections", collections_path %>
</div>

<h1><%= @collection.name %></h1>
<p><%= @collection.description %></p>

<h2>Items</h2>
<% @collection.items.each do |item| %>
  <div>
    <h3><%= link_to item.name, collection_item_path(@collection, item) %></h3>
  </div>
<% end %>
