<div class="container mt-3">
  <div class="mb-3">
    <h1 class="mb-4"><strong><%= t('showcollection.name') %>:</strong> <%= @collection.name %></h1>
    <h3><%= t('showcollection.id') %>: <%= @collection.id %></h3>
    <p><strong><%= t('showcollection.userid') %>:</strong> <%= @user.id %>, <strong><%= t('showcollection.username') %>:</strong> <%= @user.name %></p>
    <p><strong><%= t('showcollection.description') %>:</strong> <%= @collection.description %></p>
    <p><strong><%= t('showcollection.category') %>:</strong> <%= @collection.category %></p>
    <p><strong class="me-3"><%= t('showcollection.image') %>:</strong> 
      <% if @collection.image_url.present? %>
        <img src="<%= @collection.image_url %>" alt="<%= @collection.name %>" class="img-fluid" style="max-width: 300px;">
      <% else %>
        <img src="https://i.ibb.co/vq6Bc4g/placeholder.jpg" alt="Placeholder Image" class="img-fluid" style="max-width: 300px;">
      <% end %>
    </p>
  </div>

  <% if user_signed_in? and (current_user.admin? or current_user.id == @user.id) %>
    <div class="mb-3">
      <%= link_to t('showcollection.additem'), new_collection_item_path(@collection), class: 'btn btn-success' %>
      <%= link_to t('showcollection.edit'), edit_collection_path(@collection), class: 'btn btn-secondary' %>
      <%= link_to t('showcollection.delete'), '#', onclick: "singleConfirm('#{t('showcollection.sure')}', '#{delete_collection_path(@collection)}')", class: 'btn btn-danger' %>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="itemFilter" class="form-label"><%= t('showcollection.filterbyitem') %>:</label>
      <input type="number" id="itemFilter" class="form-control" placeholder=<%= t('showcollection.enteritem') %>>
    </div>
  </div>

  <h5><%= t('showcollection.items') %></h5>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th><%= t('showcollection.itemid') %></th>
          <th><%= t('showcollection.itemname') %></th>
          <th><%= t('showcollection.tags') %></th>
          <% if @collection.custom_string1_name.present? %>
            <th><%= @collection.custom_string1_name %></th>
          <% end %>
          <% if @collection.custom_string2_name.present? %>
            <th><%= @collection.custom_string2_name %></th>
          <% end %>
          <% if @collection.custom_string3_name.present? %>
            <th><%= @collection.custom_string3_name %></th>
          <% end %>
          <% if @collection.custom_int1_name.present? %>
            <th><%= @collection.custom_int1_name %></th>
          <% end %>
          <% if @collection.custom_int2_name.present? %>
            <th><%= @collection.custom_int2_name %></th>
          <% end %>
          <% if @collection.custom_int3_name.present? %>
            <th><%= @collection.custom_int3_name %></th>
          <% end %>
          <% if @collection.custom_text1_name.present? %>
            <th><%= @collection.custom_text1_name %></th>
          <% end %>
          <% if @collection.custom_text2_name.present? %>
            <th><%= @collection.custom_text2_name %></th>
          <% end %>
          <% if @collection.custom_text3_name.present? %>
            <th><%= @collection.custom_text3_name %></th>
          <% end %>
          <% if @collection.custom_bool1_name.present? %>
            <th><%= @collection.custom_bool1_name %></th>
          <% end %>
          <% if @collection.custom_bool2_name.present? %>
            <th><%= @collection.custom_bool2_name %></th>
          <% end %>
          <% if @collection.custom_bool3_name.present? %>
            <th><%= @collection.custom_bool3_name %></th>
          <% end %>
          <% if @collection.custom_date1_name.present? %>
            <th><%= @collection.custom_date1_name %></th>
          <% end %>
          <% if @collection.custom_date2_name.present? %>
            <th><%= @collection.custom_date2_name %></th>
          <% end %>
          <% if @collection.custom_date3_name.present? %>
            <th><%= @collection.custom_date3_name %></th>
          <% end %>
          <% if user_signed_in? and (current_user.admin? or current_user.id == @user.id) %>
            <th><%= t('showcollection.actions') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody id="itemsTable">
        <% @collection.items.each do |item| %>
          <tr data-item-id="<%= item.id %>">
            <td><%= item.id %></td>
            <td><%= link_to item.name, item_path(item) %></td>
            <td><%= link_to item.tag, item_path(item) %></td>
            <% if @collection.custom_string1_name.present? %>
              <td><%= item.custom_string1_value %></td>
            <% end %>
            <% if @collection.custom_string2_name.present? %>
              <td><%= item.custom_string2_value %></td>
            <% end %>
            <% if @collection.custom_string3_name.present? %>
              <td><%= item.custom_string3_value %></td>
            <% end %>
            <% if @collection.custom_int1_name.present? %>
              <td><%= item.custom_int1_value %></td>
            <% end %>
            <% if @collection.custom_int2_name.present? %>
              <td><%= item.custom_int2_value %></td>
            <% end %>
            <% if @collection.custom_int3_name.present? %>
              <td><%= item.custom_int3_value %></td>
            <% end %>
            <% if @collection.custom_text1_name.present? %>
              <td><%= item.custom_text1_value %></td>
            <% end %>
            <% if @collection.custom_text2_name.present? %>
              <td><%= item.custom_text2_value %></td>
            <% end %>
            <% if @collection.custom_text3_name.present? %>
              <td><%= item.custom_text3_value %></td>
            <% end %>
            <% if @collection.custom_bool1_name.present? %>
              <td><%= item.custom_bool1_value ? t('showcollection.yess') : t('showcollection.noo') %></td>
            <% end %>
            <% if @collection.custom_bool2_name.present? %>
              <td><%= item.custom_bool2_value ? t('showcollection.yess') : t('showcollection.noo') %></td>
            <% end %>
            <% if @collection.custom_bool3_name.present? %>
              <td><%= item.custom_bool3_value ? t('showcollection.yess') : t('showcollection.noo') %></td>
            <% end %>
            <% if @collection.custom_date1_name.present? %>
              <td><%= item.custom_date1_value %></td>
            <% end %>
            <% if @collection.custom_date2_name.present? %>
              <td><%= item.custom_date2_value %></td>
            <% end %>
            <% if @collection.custom_date3_name.present? %>
              <td><%= item.custom_date3_value %></td>
            <% end %>
            <% if user_signed_in? and (current_user.admin? or current_user.id == @user.id) %>
              <td>
                <%= link_to t('showcollection.edit'), edit_item_path(item), class: 'btn btn-secondary btn-sm' %>
                <%= link_to t('showcollection.delete'), '#', onclick: "singleConfirm('#{t('showcollection.sure')}', '#{delete_item_path(item)}')", class: 'btn btn-danger btn-sm' %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const itemFilter = document.getElementById('itemFilter');
    const tableRows = document.querySelectorAll('#itemsTable tr');

    const filterTable = () => {
      const itemId = itemFilter.value.trim();

      tableRows.forEach(row => {
        const rowItemId = row.getAttribute('data-item-id');
        row.style.display = (!itemId || rowItemId === itemId) ? '' : 'none';
      });
    };

    itemFilter.addEventListener('input', filterTable);
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    window.singleConfirm = function(message, url) {
      if (confirm(message)) {
          window.location.href = url;
      }
    };
  });  
</script>
