<div class="container mt-5">
  <h1 class="mb-4"><%= @collection.name %></h1>

  <p><strong>Description:</strong> <%= @collection.description %></p>
  <p><strong>Category:</strong> <%= @collection.category %></p>
  <p><strong>Image URL:</strong> <%= @collection.image_url %></p>

  <h5>Custom Fields</h5>
  <ul>
    <% if @collection.custom_string1_name.present? %>
      <li><strong><%= @collection.custom_string1_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_string2_name.present? %>
      <li><strong><%= @collection.custom_string2_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_string3_name.present? %>
      <li><strong><%= @collection.custom_string3_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_int1_name.present? %>
      <li><strong><%= @collection.custom_int1_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_int2_name.present? %>
      <li><strong><%= @collection.custom_int2_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_int3_name.present? %>
      <li><strong><%= @collection.custom_int3_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_text1_name.present? %>
      <li><strong><%= @collection.custom_text1_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_text2_name.present? %>
      <li><strong><%= @collection.custom_text2_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_text3_name.present? %>
      <li><strong><%= @collection.custom_text3_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_bool1_name.present? %>
      <li><strong><%= @collection.custom_bool1_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_bool2_name.present? %>
      <li><strong><%= @collection.custom_bool2_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_bool3_name.present? %>
      <li><strong><%= @collection.custom_bool3_name %>:</strong> ...</li>
    <% end %>
     <% if @collection.custom_date1_name.present? %>
      <li><strong><%= @collection.custom_date1_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_date2_name.present? %>
      <li><strong><%= @collection.custom_date2_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_date3_name.present? %>
      <li><strong><%= @collection.custom_date3_name %>:</strong> ...</li>
    <% end %>
  </ul>

  <div class="mb-3">
    <%= link_to 'Edit', edit_collection_path(@collection), class: 'btn btn-primary' %>
    <%= link_to 'Back', collections_path, class: 'btn btn-secondary' %>
    <%= link_to 'Delete', @collection, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>

  <div class="mb-3">
    <%= link_to 'Add Item', new_collection_item_path(@collection), class: 'btn btn-success' %>
  </div>

  <h5>Items</h5>
  <ul>
    <% @collection.items.each do |item| %>
      <li>
        <strong><%= link_to item.name, item_path(item) %></strong>
        <p><%= item.tags %></p>
        <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </li>
    <% end %>
  </ul>
</div>
