<div class="container mt-5">
  <h1 class="mb-4"><%= @collection.name %></h1>

  <p><strong>Description:</strong> <%= @collection.description %></p>
  <p><strong>Category:</strong> <%= @collection.category %></p>
  <p><strong>Image URL:</strong> <%= @collection.image_url %></p>

  <h5>Custom Fields</h5>
  <ul>
    <% if @collection.custom_string1_name.present? %>
      <li><strong><%= @collection.custom_string1_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_string2_name.present? %>
      <li><strong><%= @collection.custom_string2_name %>:</strong> ...</li>
    <% end %>
    <% if @collection.custom_string3_name.present? %>
      <li><strong><%= @collection.custom_string3_name %>:</strong> ...</li>
    <% end %>

  </ul>

  <div class="mb-3">
    <%= link_to 'Edit', edit_collection_path(@collection), class: 'btn btn-primary' %>
    <%= link_to 'Back', collections_path, class: 'btn btn-secondary' %>
    <%= link_to 'Delete', @collection, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
