<div class="container my-3">
  <h1 class="text-center my-3"><%= t('search.results') %></h1>

  <% if @resultitem.present? or @resultcollection.present? %>
    <div class="row">
      <% @resultitem.each do |item| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100 d-flex flex-column">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= t('search.itemname') %>: <%= link_to item.name, item_path(item) %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= t('search.itemid') %>: <%= link_to item.id, item_path(item) %></h6>
              <p class="card-text"><%= t('search.tags') %>: <%= item.tag %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% @resultcollection.each do |collection| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100 d-flex flex-column">
            <% if collection.image_url.present? %>
              <img src="<%= collection.image_url %>" alt="<%= collection.name %>" class="img-fluid" style="max-height: 300px; object-fit: contain;">
            <% else %>
              <img src="https://i.ibb.co/vq6Bc4g/placeholder.jpg" alt="Placeholder Image" class="img-fluid" style="max-height: 300px; object-fit: contain;">
            <% end %>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= t('search.collectionname') %>: <%= link_to collection.name, collection_path(collection) %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= t('search.collectionid') %>: <%= link_to collection.id, collection_path(collection) %></h6>
              <p class="card-text"><%= t('search.collectioncategory') %>: <%= collection.category %></p>
              <p class="card-text"><%= t('search.collectiondescription') %>: <%= collection.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <hr>
    <h3 class="text-center"><%= t('search.nothing') %>.</h3>
  <% end %>
</div>
