<h1 class="text-center my-3"><%= t('search.results') %></h1>

<% if @resultitem.present? or @resultcollection.present?%>
  <% @resultitem.each do |item| %>
    <hr>
    <div>
      <h3><%= t('search.itemid') %>: <%= link_to item.id, item_path(item) %></h3>
      <p><%= t('search.itemname') %>: <%= item.name %></p>
      <p><%= t('search.tags') %>: <%= item.tag %></p>
    </div>
  <% end %>

  <% @resultcollection.each do |collection| %>
    <hr>
    <div>
      <h3><%= t('search.collectionid') %>: <%= link_to collection.id, collection_path(collection) %></h3>
      <p><%= t('search.collectionname') %>: <%= collection.name %></p>
      <p><%= t('search.collectioncategory') %>: <%= collection.category %></p>
      <p><%= t('search.collectiondescription') %>: <%= collection.description %></p>
    </div>
  <% end %>
<% else %>
  <hr>
  <h3><%= t('search.nothing') %>.</h3>
<% end %>