<h1 class="text-center mt-3">Search Results</h1>

<% @resultitem.each do |item| %>
  <hr>
  <div>
    <h3>Item ID: <%= link_to item.id, item_path(item) %></h3>
    <p>Item Name: <%= item.name %></p>
    <p>Tags: <%= item.tag %></p>
  </div>
<% end %>

<% @resultcollection.each do |collection| %>
  <hr>
  <div>
    <h3>Collection ID: <%= link_to collection.id, collection_path(collection) %></h3>
    <p>Collection Name: <%= collection.name %></p>
    <p>Collection Category: <%= collection.category %></p>
    <p>Collection Description: <%= collection.description %></p>
  </div>
<% end %>
