<h1>Admin Page</h1>

<h3>Users Panel</h3>
<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Admin?</th>
      <th>Blocked?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? 'Yes' : 'No' %></td>
        <td><%= user.blocked? ? 'Yes' : 'No' %></td>
        <td>
          <% if user.admin? %>
            <%= link_to "Remove Admin", remove_admin_path(user), method: :patch %>
          <% else %>
            <%= link_to "Make Admin", add_admin_path(user), method: :patch %>
          <% end %>
          <% if user.blocked? %>
            <%= link_to "Unblock", unblock_user_path(user), method: :patch %>
          <% else %>
            <%= link_to "Block", block_user_path(user), method: :patch %>
          <% end %>
          <%= link_to "Delete", delete_user_path(user), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
