<div class="container my-3">
  <h1 class="mb-4 text-center"><%= t('home.welcome') %></h1>

  <% if user_signed_in? %>
    <h3 class="text-success text-center mt-2 mb-2">
      <%= t('home.hi') %> <%= current_user.name %>
      <% if current_user.admin? %>
        ( <%= t('home.admin') %> )
      <% end %>,
      <br>
      <%= t('home.userid') %>: <%= current_user.id %>, <%= t('home.useremail') %>: <%= current_user.email %>
    </h3>
  <% end %>

  <h2 class="my-3"><%= t('home.latestitems') %></h2>
  <ul class="list-group">
    <% if @latest_items.present? %>
      <% @latest_items.each do |item| %>
        <li class="list-group-item">
          <h6><%= t('home.itemid') %>: <%= link_to item.id, item %>, <%= t('home.itemname') %>: <%= link_to item.name, item %></h6>
          <p><%= t('home.collectionid') %>: <%= item.collection.id %>, <%= t('home.collectionname') %>: <%= item.collection.name %></p>
          <p><%= t('home.userid') %>: <%= item.collection.user.id %>, <%= t('home.username') %>: <%= item.collection.user.name %></p> 
        </li>
      <% end %>
    <% else %>
      <p><%= t('home.nothing') %>.</p>
    <% end %>
  </ul>

  <h2 class="my-3"><%= t('home.topcollections') %></h2>
  <ul class="list-group mb-4">
    <% if @top_collections.present? %>
      <% @top_collections.each do |collection| %>
        <li class="list-group-item">
          <h6><%= t('home.collectionid') %>: <%= link_to collection.id, collection %>, <%= t('home.collectionname') %>: <%= link_to collection.name, collection %></h6>
          <p><%= t('home.userid') %>: <%= collection.user.id %>, <%= t('home.username') %>: <%= collection.user.name %></p> 
        </li>
      <% end %>
    <% else %>
      <p><%= t('home.nothing') %>.</p>
    <% end %>
  </ul>

  <h2 class="my-3"><%= t('home.tagcloud') %></h2>
  <div>
    <% if @tag_cloud.present? %>
      <% @tag_cloud.each do |tag| %>
        <%= link_to tag, search_path(query: tag), class: 'badge bg-secondary' %>
      <% end %>
    <% else %>
      <p><%= t('home.nothing') %>.</p>
    <% end %>
  </div>
</div>
