<h1>Welcome to Collection Management App</h1>

<h2>Latest Items</h2>
<ul>
  <% @latest_items.each do |item| %>
    <li>
      <%= link_to item.name, collection_item_path(item.collection, item) %>
      (from <%= link_to item.collection.name, item.collection %>)
      by <%= link_to item.user.name, item.user %>
    </li>
  <% end %>
</ul>

<h2>Top 5 Largest Collections</h2>
<ul>
  <% @top_collections.each do |collection| %>
    <li>
      <%= link_to collection.name, collection %> by <%= link_to collection.user.name, collection.user %>
    </li>
  <% end %>
</ul>

<h2>Tag Cloud</h2>
<div id="tag-cloud">
  <% if @tag_cloud.present? %>
    <% @tag_cloud.each do |tag| %>
      <%= link_to tag.name, search_path(query: tag.name), class: "tag-#{tag.taggings.count}" %>
    <% end %>
  <% else %>
    <p>No tags available.</p>
  <% end %>
</div>
