<h1>Welcome to the Collection Management App</h1>

<h2>Latest Items</h2>
<% @latest_items.each do |item| %>
  <div>
    <h3><%= link_to item.name, [item.collection, item] %></h3>
    <p>Tags: <%= item.tags %></p>
    <ul>
      <% item.custom_field_values.each do |field, value| %>
        <li><strong><%= field.humanize %>:</strong> <%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>Largest Collections</h2>
<% @largest_collections.each do |collection| %>
  <div>
    <h3><%= link_to collection.name, collection %></h3>
    <p>Number of Items: <%= collection.items.count %></p>
  </div>
<% end %>

<h2>Tag Cloud</h2>
<div id="tag-cloud">
  <% @tag_cloud.each do |tag| %>
    <%= link_to tag.name, search_path(query: tag.name), class: "tag-#{tag.taggings.count}" %>
  <% end %>
</div>
