<div class="container my-3">
  <h1 class="mb-4 text-center">Welcome to Collection Management App</h1>

  <% if user_signed_in? %>
    <h3 class="text-success text-center mt-2 mb-2">
      Hi <%= current_user.name %>
      <% if current_user.admin? %>
        ( Admin )
      <% end %>,
      <br>
      User ID: <%= current_user.id %>, User Email: <%= current_user.email %>
    </h3>
  <% end %>

  <h2 class="my-3">Latest Items</h2>
  <ul class="list-group">
    <% if @latest_items.present? %>
      <% @latest_items.each do |item| %>
        <li class="list-group-item">
          <p>Item ID: <%= link_to item.id, item %></p>
          <p>Item Name: <%= link_to item.name, item %></p> 
        </li>
      <% end %>
    <% else %>
      <p>Nothing to show here.</p>
    <% end %>
  </ul>

  <h2 class="my-3">Top 5 Largest Collections</h2>
  <ul class="list-group mb-4">
    <% if @top_collections.present? %>
      <% @top_collections.each do |collection| %>
        <li class="list-group-item">
          <p>Collection ID: <%= link_to collection.id, collection %></p>
          <p>Collection Name: <%= link_to collection.name, collection %></p> 
        </li>
      <% end %>
    <% else %>
      <p>Nothing to show here.</p>
    <% end %>
  </ul>

  <h2 class="my-3">Tag Cloud</h2>
  <div>
    <% if @tag_cloud.present? %>
      <% @tag_cloud.each do |tag| %>
        <%= link_to tag, search_path(query: tag), class: 'badge bg-secondary' %>
      <% end %>
    <% else %>
      <p>Nothing to show here.</p>
    <% end %>
  </div>
</div>
