<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= item.tags %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= item.author %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= item.collection_id %>
  </p>

</div>
