<div class="container mt-3">
  <h1 class="mb-4"><%= t('newitem.title') %></h1>

  <%= form_with(model: [@collection, @item], local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, t('newitem.name'), class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :tags, t('newitem.tags'), class: "form-label" %>
      <%= text_field_tag :tag, @item.tag, class: "form-control", placeholder: t('newitem.tagplaceholder'), data: { autocomplete_source: autocomplete_tags_path } %>
    </div>

    <% if @collection.custom_string1_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_string1_name, class: "form-label" %>
        <%= form.text_field :custom_string1_value, class: "form-control" %>
      </div>
    <% end %>
    <% if @collection.custom_string2_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_string2_name, class: "form-label" %>
        <%= form.text_field :custom_string2_value, class: "form-control" %>
      </div>
    <% end %>
    <% if @collection.custom_string3_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_string3_name, class: "form-label" %>
        <%= form.text_field :custom_string3_value, class: "form-control" %>
      </div>
    <% end %>

    <% if @collection.custom_int1_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_int1_name, class: "form-label" %>
        <%= form.number_field :custom_int1_value, class: "form-control" %>
      </div>
    <% end %>
    <% if @collection.custom_int2_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_int2_name, class: "form-label" %>
        <%= form.number_field :custom_int2_value, class: "form-control" %>
      </div>
    <% end %>
    <% if @collection.custom_int3_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_int3_name, class: "form-label" %>
        <%= form.number_field :custom_int3_value, class: "form-control" %>
      </div>
    <% end %>

    <% if @collection.custom_text1_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_text1_name, class: "form-label" %>
        <%= form.text_area :custom_text1_value, class: "form-control", rows: 3 %>
      </div>
    <% end %>
    <% if @collection.custom_text2_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_text2_name, class: "form-label" %>
        <%= form.text_area :custom_text2_value, class: "form-control", rows: 3 %>
      </div>
    <% end %>
    <% if @collection.custom_text3_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_text3_name, class: "form-label" %>
        <%= form.text_area :custom_text3_value, class: "form-control", rows: 3 %>
      </div>
    <% end %>

    <% if @collection.custom_bool1_state %>
      <div class="mb-3 form-check">
        <%= form.check_box :custom_bool1_value, class: "form-check-input" %>
        <%= form.label @collection.custom_bool1_name, class: "form-check-label" %>
      </div>
    <% end %>
    <% if @collection.custom_bool2_state %>
      <div class="mb-3 form-check">
        <%= form.check_box :custom_bool2_value, class: "form-check-input" %>
        <%= form.label @collection.custom_bool2_name, class: "form-check-label" %>
      </div>
    <% end %>
    <% if @collection.custom_bool3_state %>
      <div class="mb-3 form-check">
        <%= form.check_box :custom_bool3_value, class: "form-check-input" %>
        <%= form.label @collection.custom_bool3_name, class: "form-check-label" %>
      </div>
    <% end %>

    <% if @collection.custom_date1_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_date1_name, class: "form-label" %>
        <%= form.date_field :custom_date1_value, class: "form-control" %>
      </div>
    <% end %>
    <% if @collection.custom_date2_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_date2_name, class: "form-label" %>
        <%= form.date_field :custom_date2_value, class: "form-control" %>
      </div>
    <% end %>
    <% if @collection.custom_date3_state %>
      <div class="mb-3">
        <%= form.label @collection.custom_date3_name, class: "form-label" %>
        <%= form.date_field :custom_date3_value, class: "form-control" %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.submit  t('newitem.create'), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to t('newitem.back'), collection_path(@collection), class: "btn btn-secondary mt-3" %>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    const tagField = $("[data-autocomplete-source]");
    if (tagField.length) {
      $.ajax({
        url: tagField.data('autocomplete-source'),
        dataType: "json",
        success: function(data) {
          tagField.autocomplete({
            source: data
          });
        }
      });
    }
  });  
</script>