<div class="container mt-3">
  <div class="row mb-4">
    <div class="col">
      <h1><%= t('showitem.name') %>: <%= @item.name %></h1>
      <h3><%= t('showitem.id') %>: <%= @item.id %></h3>
      <h6><%= t('showitem.collectionid') %>: <%= @collection.id %>, <%= t('showitem.collectionname') %>: <%= @collection.name %></h6>
      <h6><%= t('showitem.userid') %>: <%= @user.id %>, <%= t('showitem.username') %>: <%= @user.name %></h6>
      <p><strong><%= t('showitem.tags') %>:</strong> <%= @item.tag %></p>
      <ul class="list-group">
        <% if @collection.custom_string1_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_string1_name %>:</strong> <%= @item.custom_string1_value %>
          </li>
        <% end %>
        <% if @collection.custom_string2_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_string2_name %>:</strong> <%= @item.custom_string2_value %>
          </li>
        <% end %>
        <% if @collection.custom_string3_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_string3_name %>:</strong> <%= @item.custom_string3_value %>
          </li>
        <% end %>

        <% if @collection.custom_int1_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_int1_name %>:</strong> <%= @item.custom_int1_value %>
          </li>
        <% end %>
        <% if @collection.custom_int2_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_int2_name %>:</strong> <%= @item.custom_int2_value %>
          </li>
        <% end %>
        <% if @collection.custom_int3_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_int3_name %>:</strong> <%= @item.custom_int3_value %>
          </li>
        <% end %>

        <% if @collection.custom_text1_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_text1_name %>:</strong> <%= @item.custom_text1_value %>
          </li>
        <% end %>
        <% if @collection.custom_text2_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_text2_name %>:</strong> <%= @item.custom_text2_value %>
          </li>
        <% end %>
        <% if @collection.custom_text3_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_text3_name %>:</strong> <%= @item.custom_text3_value %>
          </li>
        <% end %>

        <% if @collection.custom_bool1_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_bool1_name %>:</strong> <%= @item.custom_bool1_value ? t('showcollection.yess') : t('showcollection.noo')%>
          </li>
        <% end %>
        <% if @collection.custom_bool2_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_bool2_name %>:</strong> <%= @item.custom_bool2_value ? t('showcollection.yess') : t('showcollection.noo')%>
          </li>
        <% end %>
        <% if @collection.custom_bool3_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_bool3_name %>:</strong> <%= @item.custom_bool3_value ? t('showcollection.yess') : t('showcollection.noo')%>
          </li>
        <% end %>

        <% if @collection.custom_date1_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_date1_name %>:</strong> <%= @item.custom_date1_value %>
          </li>
        <% end %>
        <% if @collection.custom_date2_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_date2_name %>:</strong> <%= @item.custom_date2_value %>
          </li>
        <% end %>
        <% if @collection.custom_date3_state %>
          <li class="list-group-item">
            <strong><%= @collection.custom_date3_name %>:</strong> <%= @item.custom_date3_value %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="d-flex align-items-center">
          <% if user_signed_in? %>
            <% if current_user and @item.likes.exists?(user: current_user) %>
              <%= button_to t('showitem.unlike'),item_like_path(@item), method: :delete, remote: true, class: 'btn btn-outline-danger like-button me-3'%>
            <% else %>
              <%= button_to t('showitem.like'), item_like_path(@item), method: :post, remote: true, class: 'btn btn-outline-primary like-button me-3'%>
            <% end %>
          <% end %>
          <p class="mb-0 like-count ml-2 text-primary"><strong><%= t('showitem.likes') %>:</strong> <%= @item.likes.count %></p>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h2><%= t('showitem.comments') %></h2>
        <div id="comments" class="list-group" data-item-id="<%= @item.id %>">
          <% @item.comments.each do |comment| %>
            <div class="list-group-item" id="comment-<%= comment.id %>">
              <p><strong><%= t('showitem.userid') %>: <%= comment.user.id %>, <%= t('showitem.username') %>: <%= comment.user.name %> | </strong> <%= comment.body %></p>
              <% if user_signed_in? %>
                <% if @item.collection.user == current_user or comment.user == current_user or current_user.admin? %>
                  <%= link_to t('showitem.deletecomment'), item_comments_path(comment.item, comment), method: :delete, remote: true, class: 'btn btn-outline-danger btn-sm' %>
                <% end %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <% if user_signed_in? %>
        <%= form_with(model: [@item, @item.comments.build], remote: true, id: "comment-form") do |form| %>
          <div class="form-group">
            <%= form.label :body, t('showitem.addcomment') %>
            <%= form.text_area :body, class: "form-control", rows: 3 %>
          </div>
          <div class="form-group">
            <%= form.submit t('showitem.entercomment'), class: "btn btn-primary btn-sm mt-2" %>
          </div>
        <% end %>
      <% else %>
        <p><%= t('showitem.youmustbe') %> <%= link_to t('showitem.loggedin'), new_user_session_path %> <%= t('showitem.toaddacomment') %>.</p>
      <% end %>
    </div>
  </div>  
</div>