<h1><%= @item.name %></h1>
<p>Tags: <%= @item.tags %></p>
<ul>
  <% @item.custom_field_values.each do |field, value| %>
    <li><strong><%= field.humanize %>:</strong> <%= value %></li>
  <% end %>
</ul>

<div id="like-section">
  <% if current_user %>
    <% if @item.liked_by?(current_user) %>
      <%= link_to 'Unlike', collection_item_like_path(@item.collection, @item), method: :delete, remote: true %>
    <% else %>
      <%= link_to 'Like', collection_item_like_path(@item.collection, @item), method: :post, remote: true %>
    <% end %>
  <% end %>
  <p>Likes: <%= @item.likes.count %></p>
</div>

<h2>Comments</h2>
<div id="comments">
  <% @comments.each do |comment| %>
    <div>
      <p><strong><%= comment.user.name %>:</strong> <%= comment.body %></p>
    </div>
  <% end %>
</div>

<h3>Add a comment:</h3>
<%= form_with(model: [@item, @item.comments.build], remote: true) do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit 'Add Comment' %>
  </div>
<% end %>
