<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t('site.title') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-bs-theme="<%= @theme %>">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
      <a class="navbar-brand me-5" href="#"><%= t('site.title') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar01" aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation" id="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to t('nav.home'), root_path, class: 'nav-link' %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to t('nav.my_collections'), user_collections_path(current_user), class: 'nav-link' %>
            </li>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to t('nav.admin_page'), admin_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to t('nav.logout'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to t('nav.login'), new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('nav.register'), new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="<%= t('nav.search') %>" aria-label="Search">
          <button class="btn btn-success d-lg-none" type="submit"><%= t('nav.search') %></button>
        </form>
        <div class="d-flex align-items-center ms-2">
          <a class="btn btn-outline-dark me-2" href="#" id="theme-toggle">
            <%= @theme == 'dark' ? t('nav.switch_to_light') : t('nav.switch_to_dark') %>
          </a>
          <%= link_to t('nav.switch_language'), toggle_language_path, method: :post, class: 'btn btn-outline-info' %>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <%= yield %>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const themeToggle = document.getElementById('theme-toggle');
      themeToggle.addEventListener('click', (event) => {
        event.preventDefault();
        const currentTheme = document.body.getAttribute('data-bs-theme');
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        document.body.setAttribute('data-bs-theme', newTheme);

        fetch('/toggle_theme', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          },
          body: JSON.stringify({ theme: newTheme })
        }).then(response => {
          if (response.ok) {
            location.reload();
          }
        });
      });
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var navbarToggler = document.getElementById('navbar-toggler');
      var navbarCollapse = document.getElementById('navbar01');
  
      navbarToggler.addEventListener('click', function() {
        navbarCollapse.classList.toggle('show');
      });
    });
  </script>  
</body>
</html>
